<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.aoyler.pawarisaclinicapp">

    <uses-sdk android:minSdkVersion="14" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/two"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.INSERT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Login" />
        <activity android:name=".MenuHome" />
        <activity android:name=".Login_Men" />
        <activity android:name=".MenuHome_Men" />
        <activity android:name=".Notifications" />
        <activity android:name=".Calendar_female" />
        <activity android:name=".Calendar_Men" />
        <activity android:name=".CalendarShowEvent" />
        <activity android:name=".AddEvent_MainActivity" />
        <activity android:name=".AddEvent_AddOrEditCalendarActivity" />
        <!--
             ATTENTION: This was auto-generated to add Google Play services to your project for
             App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity android:name=".SearchActivity"></activity>
        <activity android:name=".FeedArticleActivity"></activity>
        <activity android:name=".ViewArticleActivity"></activity>
    </application>

</manifest>